@model FVTC.DVDCentral.BL.Models.ShoppingCart

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].CostTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostTotal)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table">
    <tbody>
        <tr>
            <hr />
            <td><strong>Subtotal</strong></td>
            <td>
                @Html.DisplayFor(model => model.SubTotal)
            </td>
        </tr>
        <tr>
            <td><strong>Tax</strong></td>
            <td>
                @Html.DisplayFor(model => model.Tax)
            </td>
        </tr>
        <tr>
            <td><strong>Total Cost</strong></td>
            <td>
                @Html.DisplayFor(model => model.Total)
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-sm btn-primary m-2" asp-action="Checkout" asp-controller="ShoppingCart">Check Out</a>
