@model FVTC.DVDCentral.BL.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<dl class="container m-2">
    <div class="row">
        <dt class="col">
            @Html.DisplayNameFor(model => model.CustomerFullName)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.CustomerFullName)
        </dd>
        <dt class="col">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
    </div>
    <div class="row">
        <dt class="col">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Tax)
        </dd>
    </div>
    <div class="row">
        <dt class="col">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </div>
    <div class="row">
        <dt class="col">
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
        <dt class="col">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
    </div>
</dl>

<div class="m-2">
    <partial name="_OrderItemsPartial" model="Model.OrderItems" />
</div>

<div class="m-2">
    <a class="btn btn-sm btn-primary" asp-route-id="@Model.Id" asp-action="Edit">Edit</a>
    <a class="btn btn-sm btn-primary" asp-action="Index">Back to List</a>
</div>
