@model IEnumerable<FVTC.DVDCentral.BL.Models.OrderItem>
<table id="myData" class="table">
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Cost)
                </th>
                <th></th>
            </tr>
            break;
        }
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="imagepropsmall"
                         alt="@item.Title"
                         onclick="on('/images/@item.ImagePath')"
                         src="~/images/@item.ImagePath" />
                    <span asp-validation-for="@item.ImagePath" class="text-danger"></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="OrderItem" asp-route-id="@item.Id" asp-action="Remove">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" class="init">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#myData').DataTable({
            "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });
    });
</script>